.head{
    color: white;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    display:flex;
    border-radius: 2rem;
    background-color: #AFB4ff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    visibility: hidden;
    animation:movedown 0.7s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    z-index: 1;
}
h1{
    text-align: center;
}
.form-group{
    display: block;
    justify-content: center;
}
    
.form_container{
    text-align: start;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:-1rem 15rem 0;
    padding: 2rem;
    background-color:#DDDFFF;
    border-radius: 2rem;
    visibility: hidden;
    animation:movedown 0.5s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;

}
label{
    display: flex;
    justify-content: start;
    font-size: larger;
    visibility: hidden;
    animation:movedown 0.7s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
   
    
}
input[type="text"],input[type="password"] ,textarea ,input[type="numberic"],input[type="tel"]{
    padding: 1rem 4rem;
    border-radius: 2rem;
    border:0;
    background-color : rgba(241, 228, 113, 0.67); 
    width: 100%;
    font-size: large;
  
  }
input[type="submit"] {
    font-size: x-large;
    border:none;
    padding: 0.5rem;
    background-color : #BF95FF;; 
    border-radius: 3vw;
    cursor: pointer;
   
  
  }
.input img{
    width: 50vw;
}
.submit{

    display: block;
    align-items: center;
    text-align: center;
    padding: 2rem 0 2rem 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.sign{
    display: block;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    
    
}
input,.sign{
    visibility: hidden;
    animation:movedown 0.9s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
}