*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    position: absolute;
    align-items: center;
    color:  #FFFFFF;;
    font-weight: 400;
    margin: -6vw 28vw 0vw  ;
    padding: 2.5vw 5vw;
    background-color: #AFB4ff;
    height: 9vw;
    width: 40vw;
    border-radius: 27vw;
    font-size: 2.5vw;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index:1 ;
    visibility: hidden;
    animation:movedown 0.5s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
}
.background{
    font-size: 2.5vw;
    padding: 3rem 5vw;
    margin-top: 5vw;
    display: block;
    background-color: #DDDFFF;
    border-radius: 3vw;
    visibility: hidden;
    animation:movedown 0.7s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    

}


.facebook{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vw 25vw;
    padding: 2vw 5vw ;
    font-size: 2vw;
    background-color: rgba(241, 228, 113, 0.67);
    border-radius: 27vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    visibility: hidden;
    animation:movedown 0.8s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    
}
.facebook img{
    display: block;
    padding-left: auto;
    padding-right:auto;
    width: 6vw; 
}

.line{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vw 25vw;
    padding: 2vw 5vw ;
    font-size: 2.3vw;
    background-color: rgba(241, 228, 113, 0.67);
    border-radius: 27vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    visibility: hidden;
    animation:movedown 1s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
}

.line img{
    display: block;
    padding-left: auto;
    padding-right:auto;
    width: 6vw; 
}
.call{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vw 25vw;
    padding: 2vw 5vw ;
    font-size: 2.3vw;
    background-color: rgba(241, 228, 113, 0.67);
    border-radius: 27vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    visibility: hidden;
    animation:movedown 1.2s linear 1;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
        
}
@keyframes movedown {
    0%{
        transform:translateY(-10px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}
@media all and (max-width : 720px){
    .call{
        margin: 1vw 24vw;

    }
}