
.headcontent{
    border-radius: 3vw;
    margin: 1vw 10vw;
    padding: 1vw 0vw;
    background-color: rgba(241, 228, 113, 0.67);
    
}
.interest{
    position: absolute;
    list-style: None;
    display: flex;
    
}
.row{
    margin-top: 1vw;
}
hr{
    margin-bottom: 1vw;
}