a:active{
  color: black;

}
.MenuBar{
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 58px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Home{
  position: relative ;
  left: 35.78%;
  right: 57.87%;
  top: 3.26%;
  bottom: 90.84%;
  text-decoration:underline #A66CFF;
 
}
#ContactUS{
  position: relative;
  left: 43.31%;
  right: 33.6%;
  top: 3.26%;
  bottom: 90.84%;
  text-decoration: none;
}
#login{
  position: relative;
  left: 54.42%;
  right: 14.62%;
  top: 3.56%;
  bottom: 93.79%;
  font-size: 1.5vw;
  line-height: 52px;
  text-decoration: none;

}
#signup{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
input[type = textarea]{
position: absolute;
width: 30%;
height: 8%;
left: 22.61%;
right: 28%;
top: 51.95%;
bottom: 38.7%;
border: 0px;

background-color: rgba(241, 228, 113, 0.67);

background-image: url('');

padding-left: 25px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 38px;
}
::placeholder{
  text-align: left;

}
#hi{
  font-size: 2vw;
  text-align: center;
  height: 4vw;
  width: 4vw;
  border: 2px solid;
  border-color: #A66CFF;
  border-radius: 19px;
}

*{
  font-family: 'Baloo2', Regular 400;
}

.square{
  position: absolute;
  height: 348.48px;
  left: 14.95%;
  right: 15%;
  top: calc(50% - 348.48px/2 + 154.3px);
  
  background: #DDDFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
#signuprec{
  box-sizing: border-box;
  text-align: center;
  font-size: 2vw;

  position: relative;
  left: 56.57%;
  right: 3.11%;
  top: 3.46%;
  bottom: 91.34%;
  padding: 0.5vw;
  text-decoration: None;
  border: 3px solid #A66CFF;
  border-radius: 19px;
  

}
#content_home{
  position: absolute;
  left: 21.36%;
  right: 21.36%;
  top: 18.53%;
  bottom: 70.88%;

  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 52px;
  text-align: center;

  color: #000000;


}

#Enteralocation{
  position: absolute;
  left: 34.99%;
  right: 48.04%;
  top: 53.67%;
  bottom: 40.09%;
  
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 58px;
  
  color: rgba(0, 0, 0, 0.46);

}